/* Contenedor principal para las tarjetas */
.container-cards {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 10px; /* Espacio alrededor del contenedor */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  max-width: 100%;
  margin: 0.5%;
}

/* Estilo para las tarjetas */
.card {
  flex: 1 1 calc(50% - 40px); /* Ajusta el ancho a la mitad del contenedor menos el espacio del gap */
  max-width: 400000000000px; /* Ancho máximo de cada tarjeta */
  background-color: #f8f9fa; /* Color de fondo */
  border: 1px solid #ddd; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; /* Las tarjetas ocupan el 100% del ancho del contenedor en pantallas pequeñas */
    max-width: none; /* Elimina el ancho máximo */
  }
}

.btn-inactive{
  color: white
}

#antecedentesCardiovasculares{
  display: block;
}
