<div class="container-cards" >
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary" >HISTORIA CLÍNICA</h5>
      <form [formGroup]="motivoConsultaForm" (ngSubmit)="onSubmit()" >
        <div formGroupName="historiaClinica">
          <label for="motivoConsulta">Motivo de Consulta:</label>
          <select id="motivoConsulta" formControlName="motivoConsulta" class="form-control" (change)="onCambioMotivoConsulta($event)">
            <option *ngFor="let motivoConsulta of historiaClinica[0].motivoConsulta " [value]="motivoConsulta"> {{ motivoConsulta }}</option>
          </select>
          <br>
          <div [attr.hidden]="!mostrarCuestionarioEDACS ? true : null" class="accordion">
            <app-formulario-edacs></app-formulario-edacs>

          </div>
          </div>
      </form>
        </div>

  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary" >HISTORIA CLÍNICA</h5>
    </div>
</div>
</div>
