<div class="container-cards" >
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary" >Datos del Paciente</h5>
      <app-filiacion-yantecedentes></app-filiacion-yantecedentes>
    </div>
  </div>
</div>

<div class="container-cards" ></div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary" >Antecedentes del Paciente</h5>
      <br>
      <app-antecedentes></app-antecedentes>
    </div>
  </div>


<div class="container-cards" >
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary" >HISTORIA CLÍNICA</h5>
      <form [formGroup]="motivoConsultaForm" (ngSubmit)="onSubmit()" >

          <label for="motivoConsulta">Motivo de Consulta:</label>
          <select id="motivoConsulta" formControlName="motivoConsulta" class="form-control">
            <option *ngFor="let motivoConsulta of historiaClinica[0].motivoConsulta " [value]="motivoConsulta"> {{ motivoConsulta }}</option>
          </select>
          <br>


          <div id="mostrarFormularioEDACS" *ngIf="motivoConsultaForm.get('motivoConsulta')?.value === 'Dolor torácico'" class="accordion" >
            <app-formulario-edacs></app-formulario-edacs>
          </div>

          <div id="mostrarFormularioEDACS" *ngIf="motivoConsultaForm.get('motivoConsulta')?.value === 'Disnea'" >
            <app-disnea></app-disnea>
          </div>

          <div id="mostrarFormularioEDACS" *ngIf="motivoConsultaForm.get('motivoConsulta')?.value === 'Malestar general'">

          </div>
      </form>
        </div>

  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-primary" >HISTORIA CLÍNICA</h5>


      <label for="exampleFormControlTextarea1" class="form-label">Motivo de Consulta</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" [value]="this.motivoConsultaForm.get('motivoConsulta')?.value"></textarea>
      <br>

      <div *ngIf="motivoConsultaForm.get('motivoConsulta')?.value">
      <label for="exampleFormControlTextarea2" class="form-label">Antecedentes</label>
      <textarea class="form-control" id="exampleFormControlTextarea2" rows="5" [value]="'Paciente ' + sexo.toLowerCase() + ' de ' + edad + ' años, con los siguientes antecedentes:\nPatológicos:\n' + patologias.join(', ') + '\nMedicación actual:\n' + medicamentos.join('\n')"></textarea>
      </div>
    </div>
</div>
</div>
