@if(loginSvc.loggedIn()){
<!-- app.component.html -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h5 id="titulodeNavBar">Bienvenido a Medico App</h5>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <li>
      <ul>
        <a class="text-white" href="/pacientes">Pacientes</a>
      </ul>
      <ul>
        <a class="text-white" href="/login">Login</a>
      </ul>
      <ul>
        <a class="text-white" href="/logout">Logout</a>
      </ul>
    </li>
  </div>
</div>
<div class="container mt-5" id="contenidoPaginas">
  <h1 class="display-4"></h1>
  <p class="lead center">Aquí puede encontrar y gestionar toda la información clínica relevante.</p>
</div>
}

<div class="container" id="contenidoPaginas">
  <router-outlet></router-outlet>
</div>
