<div id="antecedentesOrganizados">
<div>
  <h6>Seleccionar antecedentes para agregar</h6>
  <br>
<form [formGroup]="cuestionarioAntecedentesForm">
  <mat-form-field class="example-full-width">
    <mat-label>Antecedentes</mat-label>
    <input type="text"
           placeholder="Escoger una opción"
           aria-label="Antecedentes"
           matInput
           [formControl]="controlEnfermedades"
           multiple
           [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of opcionesFiltradasAntecedentesMedicos | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
  </mat-form-field>

  {{controlEnfermedades.value}}

  <mat-form-field class="example-full-width">
    <mat-label>Antecedentes</mat-label>
    <input type="text"
           placeholder="Escoger una opción"
           aria-label="Antecedentes"
           matInput
           [formControl]="controlEnfermedades"
           [matAutocomplete]="auto">
           <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of opcionesFiltradasAntecedentesMedicos | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
  </mat-form-field>
</form>
</div>
<div>
  <h6>Seleccion la medicación que toma el paciente</h6>
  <br><br>
  <app-medicamentos></app-medicamentos>
</div>
</div>
