<div id="antecedentesOrganizados">
  <div>
    <h6>Seleccionar antecedentes para agregar</h6>
    <br>
    <form [formGroup]="enfermedadesForm">
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Antecedentes Patológicos</mat-label>

        <mat-chip-grid #chipGrid aria-label="Patologías seleccionadas" infiniteScroll (scrolled)="loadMore()" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="25">
          <mat-chip *ngFor="let enfermedad of enfermedadSeleccionada; let i = index" (removed)="eliminarPatologia(enfermedad)">
            {{ enfermedad.description }}
            <button matChipRemove [attr.aria-label]="'remove ' + enfermedad.description">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-grid>

        <input
          name="controlEnfermedades"
          placeholder="Nueva patología"
          #patologiaInput
          formControlName="enfermedadActual"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="agregarEnfermedad()"
        />

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarEnfermedad($event)">
          <mat-option *ngFor="let enfermedad of enfermedadesFiltradas ; trackBy: trackByEnfermedad" [value]="enfermedad">
            {{ enfermedad.descripcion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>




<div>
  <h6>Seleccion la medicación que toma el paciente</h6>
  <br><br>
  <app-medicamentos></app-medicamentos>
</div>
</div>
