form{
  display: flexbox;
  gap: 5px;
  align-items:first baseline;
}

button{

  height: 50%;
  width: 50%;
  align-items:center
}

#horasMedicacion{
  display: flex;
  width: 50%;
  gap: 0.5px;
}

#horasMedicacion1{

  width: 100%;
}

